doctype html
html 
    head 
        title #{pageTitle}
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css")
        //- link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
        link(rel="stylesheet", href="/css/style.css")
    body 
        include ../partials/header.pug
        
        main(class="main")
            block main 

        include ../partials/footer.pug
        //- // JQUERY MỚI NHẤT
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js")
        
        //- // BOOTSTRAP BUNDLE MỚI NHẤT (bao gồm Popper)
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
  

        script(src="/js/script.js") 

                
        block script

        block styles
        
