extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    
    .login-page
        .login-card
            h1.text-center Đăng nhập tài khoản
            form(action="/user/login" method="POST")
                .mb-3
                    label(for="email") Email 
                    input#email.form-control(type="email" name="email" required)
                .mb-3
                    label(for="password") Mật khẩu 
                    input#password.form-control(type="password" name="password" required)
                .mb-3
                    button.btn.btn-login.w-100(type="submit") Đăng nhập

            a.text-center.forgot-link(href="/user/password/forgot") Quên mật khẩu?
